{% extends "base.html" %}
{% block content %}
  <div class="d-flex flex-row justify-content-center">
    <a href="{% url "subjects:subject-lessons" subject %}" class="me-2">Go to lessons</a>
    <a href="{% url "subjects:mark-list" subject %}" class="me-2">See the subject's marks</a>
    <div class="vr"></div>
    {% if user.profile.is_student %}
      {% block student %}
        <div>
          <a href="{% url "users:request-certificate" %}" class="ms-2">Request a Marks Certificate</a>
        </div>
      {% endblock %}
    {% else %}
      {% block teacher %}
        <div>
          <a href="{% url "subjects:add-lesson" subject %}" class="ms-2">Add a Lesson</a>
        </div>
      {% endblock %}
    {% endif %}
  </div>
{% endblock %}
