{% extends "base.html" %}
{% load static %}
{% block app %}Lumino{% endblock %}{% block title %} | Homepage{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'shared/styles.css' %}">
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="d-flex align-items-center flex-column" style="margin-top: 200px;">
  <h1>Welcome to Lumino</h1>
  <div class="mt-4">
    <a class="btn btn-primary" href="{% url "login" %}">Login</a>
    - or -
    <a class="btn btn-primary" href="{% url "signup" %}">Signup</a>
  </div>
</div>
{% endblock %}