{% extends "base.html" %}

{% block title %} | {{ subject.code }}{% endblock %}

{% block content %}
  {% include "navbar.html" %}
  <nav aria-label="breadcrumb" style="margin-top: 70px; --bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ms-2"><a href="{% url "subjects:subject-list" %}">Subjects</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ subject.code }}</li>
    </ol>
  </nav>
  <div class="container">
    <div class="list-group">
      <div class="list-group-item">
        <h5 class="mb-1">{{ subject.code }} // {{ subject.name }}</h5>
        <p class="mt-3">
          Teacher: {{ subject.teacher.get_full_name }}
        </p>
      </div>
      {% for lesson in lessons %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          {{ lesson.title }}
          <a href="{% url 'subjects:lesson-detail' subject.code lesson.pk %}">See Details</a>
        </div>      
      {% empty %}
        <div class="alert alert-warning" role="alert">
          This subject doesn't have any lessons yet.
          {% if not user.profile.is_student %}
            Add a new lesson
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
