{% extends "base.html" %}
{% block content %}
  {% include "navbar.html" %}
  <div class="d-flex flex-start mb-3" style="margin-top: 70px;">
    <h4>Welcome to Lumino. Nice to see you!</h4>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active ms-2" aria-current="page">Subjects</li>
    </ol>
  </nav>  
  <div class="container">
    {% if user.profile.is_student %}
      <a href="{% url "subjects:enroll-subjects" %}" class="btn btn-success">Enroll</a>
      <a href="{% url "subjects:unenroll-subjects" %}" class="btn btn-danger">Unenroll</a>
    {% endif %}
    <div class="list-group">
      {% for subject in subjects %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <h5 class="mb-1">Code: {{ subject.code }}</h5>
            <p class="mb-1">Name: {{ subject.name }}</p>
          </div>
          <a href="{{ subject.get_absolute_url }}" class="ms-3 btn btn-info">
            <i class="bi bi-box-arrow-up-right"></i> View
          </a>
        </div>      
      {% empty %}
        {% if user.profile.is_student %}
          <div class="alert alert-warning" role="alert">
            You don't have any subjects yet. 
            <a href="{% url "subjects:enroll-subjects" %}" class="alert-link">Enroll in one or more of our subjects here!</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
