{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load subject_extras %}
{% block title %} | {{ subject.code }} | Edit Marks{% endblock %}
{% block content %}
  {% include "navbar.html" %}
  <nav aria-label="breadcrumb" style="margin-top: 70px; --bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ms-2">
        <a href="{% url "subjects:subject-list" %}" class="link-offset-2 link-underline link-underline-opacity-0">
          Subjects
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url "subjects:subject-detail" subject.code %}" class="link-offset-2 link-underline link-underline-opacity-0">
          {{ subject.code }}
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'subjects:mark-list' subject.code%}" class="link-offset-2 link-underline link-underline-opacity-0">
          Marks
        </a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit Marks
      </li>
    </ol>
  </nav>
  {% if messages %}
    <div class="alert alert-info">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% crispy formset helper %}
{% endblock %}