{% extends "base.html" %}
{% block title %} | {{ subject.code }} | {{ lesson.title }}{% endblock %}
{% block content %}
  {% include "navbar.html" %}
  <nav aria-label="breadcrumb" style="margin-top: 70px; --bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
      <li class="breadcrumb-item ms-2"><a href="{% url "subjects:subject-list" %}">Subjects</a></li>
      <li class="breadcrumb-item"><a href="{% url "subjects:subject-detail" subject.code %}">{{ subject.code }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ lesson.title }}</li>
    </ol>
  </nav>
  <div class="container">
    <div class="list-group">
      <div class="list-group-item">
        <h5>{{ lesson.title }}</h5>
        <p class="mt-3">
          {{ lesson.content }}
        </p>
      </div>
    </div>
{% endblock %}